modules = ["nodejs-20", "bash", "web", "postgresql-16"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 21398
externalPort = 80

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/linux-labs: web"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "artifacts/linux-labs: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21398 BASE_PATH=/ pnpm --filter @workspace/devlabmaster run dev"
waitForPort = 21398

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["vim-full"]

[userenv]

[userenv.shared]
BETTER_AUTH_URL = "https://cba185f1-ad8c-49e3-8e00-28cf952c06c8-00-2vi1dwwvguooa.sisko.replit.dev"
ADMIN_EMAILS = "robert4host@gmail.com"
NODE_ENV = "development"
SECURE_COOKIES = "false"
